*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #16161A;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px;
  }
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.header {
  background: #f5ecfd;
  padding: 32px;
}

.header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .logo-small {
  width: 45px;
  height: 35px;
}

.header .icon-hamburger {
  width: 94px;
  height: 70px;
  cursor: pointer;
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .header {
    padding: 32px 64px;
  }
}

.main {
  background: #f5ecfd;
  padding: 128px 32px 400px 32px;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .area {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  display: none;
}

.main span {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  font-family: "Roboto";
  color: #5c5c5c;
}

.main h1 {
  color: #1b1b1b;
}

.main svg {
  max-width: 525px;
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .main {
    padding: 64px 64px 200px 64px;
  }
  .main h1 {
    font-size: 96px;
  }
  .main .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container > svg {
    width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .main {
    padding: 128px 32px 200px 32px;
  }
  .main .area {
    display: block;
  }
  .main .container > svg {
    display: none;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 64px;
}

.social-list .social-icon {
  width: 32px;
  height: 32px;
}

.social-list .social-icon path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social-list .social-icon:hover path {
  stroke: #755cef;
}

.projects {
  max-width: 1440px;
  margin: 200px auto 0;
}

.projects p {
  max-width: 539px;
  font-size: 20px;
  line-height: 27px;
}

.projects .more-projects {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  position: relative;
  color: #E6E6E6;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  cursor: pointer;
}

.projects .more-projects::after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  bottom: -16px;
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  background: #9638ea;
}

.projects .more-projects:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .projects {
    padding: 64px 64px;
  }
  .projects .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .container > svg {
    width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .projects {
    padding: 128px 32px 200px 32px;
  }
  .projects .area {
    display: block;
  }
  .projects .container > svg {
    display: none;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project.reverse .content {
  text-align: end;
}

.project .content {
  position: relative;
}

.project .content h3 {
  font-style: normal;
  font-weight: 500;
  line-height: 49px;
  text-transform: uppercase;
  color: #e6e6e6;
}

.project .content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #C9C9C9;
}

.project .content span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #919191;
}

.project-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #9638ea;
  line-height: 27px;
  font-family: "Inter", sans-serif;
  position: relative;
  display: inline-block;
}

.project-link.in-progress {
  opacity: 0.5;
  pointer-events: none;
  color: #ADADAD;
}

.project-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  background: #9638ea;
}

.project-link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project-image {
  max-width: 580px;
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .project-image {
    max-width: 480px;
  }
}

@media screen and (max-width: 960px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project.reverse {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project.reverse .content {
    text-align: start;
  }
}

.about-me {
  background: #16161A;
  margin-top: 200px;
}

.about-me .container {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-me p {
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ADADAD;
}

.about-me button {
  margin-top: 32px;
  background: transparent;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5ecfd;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 32px;
  gap: 8px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-me button img {
  width: 24px;
  height: 24px;
}

.about-me button:hover {
  background: rgba(245, 236, 253, 0.6);
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .about-me {
    padding: 0 64px;
  }
  .about-me p {
    font-size: 16px;
  }
}

.skills {
  max-width: 1440px;
  margin: 0 auto;
}

.skills-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-header .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}

.skills-header input {
  display: none;
}

.skills-header input:checked + label::after {
  width: 100%;
}

.skills-header label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  cursor: pointer;
  line-height: 38px;
  color: #ffffff;
  position: relative;
}

.skills-header label::after {
  -webkit-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 0;
  opacity: 0.5;
  background: #9333ea;
}

.skills .container-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .skills .container-language {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.skills .language h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  color: #e6e6e6;
}

.skills .language p {
  max-width: 527px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #c9c9c9;
}

.skills .languages {
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 32px;
}

.skills .languages.active {
  display: -ms-grid;
  display: grid;
}

.skills .languages svg,
.skills .languages img {
  width: 128px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.5;
}

.skills .languages svg.active,
.skills .languages img.active {
  opacity: 1;
}

.skills .languages svg:hover,
.skills .languages img:hover {
  opacity: 1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact p {
  max-width: 490px;
  font-size: 18px;
  text-align: center;
}

.contact h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
}

.footer {
  background: #F5ECFD;
}

.footer .container-footer {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer img {
  width: 78px;
}

.footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1B1B1B;
}

h1 {
  color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  font-size: 128px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 100%;
  }
}

h2 {
  color: #E6E6E6;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 100%;
  }
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 100%;
  }
}

h3 {
  color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 120%;
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 120%;
  }
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 120%;
  }
}

h4 {
  color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

p {
  color: #ADADAD;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #16161A;
}

strong {
  color: #090913;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.mt-1 {
  margin-top: 8px;
}

.ml-1 {
  margin-left: 8px;
}

.mr-1 {
  margin-right: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-2 {
  margin: 16px;
}

.mt-2 {
  margin-top: 16px;
}

.ml-2 {
  margin-left: 16px;
}

.mr-2 {
  margin-right: 16px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-3 {
  margin: 20px;
}

.mt-3 {
  margin-top: 20px;
}

.ml-3 {
  margin-left: 20px;
}

.mr-3 {
  margin-right: 20px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mx-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-4 {
  margin: 24px;
}

.mt-4 {
  margin-top: 24px;
}

.ml-4 {
  margin-left: 24px;
}

.mr-4 {
  margin-right: 24px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mx-4 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-5 {
  margin: 32px;
}

.mt-5 {
  margin-top: 32px;
}

.ml-5 {
  margin-left: 32px;
}

.mr-5 {
  margin-right: 32px;
}

.mb-5 {
  margin-bottom: 32px;
}

.mx-5 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-5 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-6 {
  margin: 48px;
}

.mt-6 {
  margin-top: 48px;
}

.ml-6 {
  margin-left: 48px;
}

.mr-6 {
  margin-right: 48px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mx-6 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-6 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.m-7 {
  margin: 64px;
}

.mt-7 {
  margin-top: 64px;
}

.ml-7 {
  margin-left: 64px;
}

.mr-7 {
  margin-right: 64px;
}

.mb-7 {
  margin-bottom: 64px;
}

.mx-7 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-7 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.m-8 {
  margin: 72px;
}

.mt-8 {
  margin-top: 72px;
}

.ml-8 {
  margin-left: 72px;
}

.mr-8 {
  margin-right: 72px;
}

.mb-8 {
  margin-bottom: 72px;
}

.mx-8 {
  margin-left: 72px;
  margin-right: 72px;
}

.my-8 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.m-9 {
  margin: 128px;
}

.mt-9 {
  margin-top: 128px;
}

.ml-9 {
  margin-left: 128px;
}

.mr-9 {
  margin-right: 128px;
}

.mb-9 {
  margin-bottom: 128px;
}

.mx-9 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-9 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.m-10 {
  margin: 256px;
}

.mt-10 {
  margin-top: 256px;
}

.ml-10 {
  margin-left: 256px;
}

.mr-10 {
  margin-right: 256px;
}

.mb-10 {
  margin-bottom: 256px;
}

.mx-10 {
  margin-left: 256px;
  margin-right: 256px;
}

.my-10 {
  margin-top: 256px;
  margin-bottom: 256px;
}

.p-1 {
  padding: 8px;
}

.pt-1 {
  padding-top: 8px;
}

.pl-1 {
  padding-left: 8px;
}

.pr-1 {
  padding-right: 8px;
}

.pb-1 {
  padding-bottom: 8px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-2 {
  padding: 16px;
}

.pt-2 {
  padding-top: 16px;
}

.pl-2 {
  padding-left: 16px;
}

.pr-2 {
  padding-right: 16px;
}

.pb-2 {
  padding-bottom: 16px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-3 {
  padding: 20px;
}

.pt-3 {
  padding-top: 20px;
}

.pl-3 {
  padding-left: 20px;
}

.pr-3 {
  padding-right: 20px;
}

.pb-3 {
  padding-bottom: 20px;
}

.px-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-4 {
  padding: 24px;
}

.pt-4 {
  padding-top: 24px;
}

.pl-4 {
  padding-left: 24px;
}

.pr-4 {
  padding-right: 24px;
}

.pb-4 {
  padding-bottom: 24px;
}

.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-5 {
  padding: 32px;
}

.pt-5 {
  padding-top: 32px;
}

.pl-5 {
  padding-left: 32px;
}

.pr-5 {
  padding-right: 32px;
}

.pb-5 {
  padding-bottom: 32px;
}

.px-5 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-5 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-6 {
  padding: 48px;
}

.pt-6 {
  padding-top: 48px;
}

.pl-6 {
  padding-left: 48px;
}

.pr-6 {
  padding-right: 48px;
}

.pb-6 {
  padding-bottom: 48px;
}

.px-6 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-7 {
  padding: 64px;
}

.pt-7 {
  padding-top: 64px;
}

.pl-7 {
  padding-left: 64px;
}

.pr-7 {
  padding-right: 64px;
}

.pb-7 {
  padding-bottom: 64px;
}

.px-7 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-7 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-8 {
  padding: 72px;
}

.pt-8 {
  padding-top: 72px;
}

.pl-8 {
  padding-left: 72px;
}

.pr-8 {
  padding-right: 72px;
}

.pb-8 {
  padding-bottom: 72px;
}

.px-8 {
  padding-left: 72px;
  padding-right: 72px;
}

.py-8 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.p-9 {
  padding: 128px;
}

.pt-9 {
  padding-top: 128px;
}

.pl-9 {
  padding-left: 128px;
}

.pr-9 {
  padding-right: 128px;
}

.pb-9 {
  padding-bottom: 128px;
}

.px-9 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-9 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.p-10 {
  padding: 256px;
}

.pt-10 {
  padding-top: 256px;
}

.pl-10 {
  padding-left: 256px;
}

.pr-10 {
  padding-right: 256px;
}

.pb-10 {
  padding-bottom: 256px;
}

.px-10 {
  padding-left: 256px;
  padding-right: 256px;
}

.py-10 {
  padding-top: 256px;
  padding-bottom: 256px;
}

.cursor {
  -webkit-animation: cursor-move 10s ease infinite;
          animation: cursor-move 10s ease infinite;
}

.square-fill,
.squares,
.square-stroke {
  -webkit-animation: square 10s infinite alternate;
          animation: square 10s infinite alternate;
}

@-webkit-keyframes cursor-move {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-10px, -200px) scale(1);
            transform: translate(-10px, -200px) scale(1);
    opacity: 1;
  }
  48% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-150px, -150px) scale(0.9);
            transform: translate(-150px, -150px) scale(0.9);
    opacity: .5;
  }
  52% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-250px, -150px) scale(1);
            transform: translate(-250px, -150px) scale(1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
}

@keyframes cursor-move {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-10px, -200px) scale(1);
            transform: translate(-10px, -200px) scale(1);
    opacity: 1;
  }
  48% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-150px, -150px) scale(0.9);
            transform: translate(-150px, -150px) scale(0.9);
    opacity: .5;
  }
  52% {
    -webkit-transform: translate(-150px, -150px) scale(1);
            transform: translate(-150px, -150px) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-250px, -150px) scale(1);
            transform: translate(-250px, -150px) scale(1);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes square {
  0%,
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes square {
  0%,
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 100vh;
  inset: 0;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: rgba(0, 0, 0, 0.219);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu.menu-active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.menu.menu-active .menu-links {
  left: 0;
}

@media screen and (max-width: 960px) {
  .menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu-links {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  padding: 128px 64px;
  background: #16161A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  left: 300px;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1366px) and (min-width: 540px) {
  .menu-links {
    padding: 64px;
  }
}

@media screen and (max-width: 960px) {
  .menu-links {
    padding: 32px;
  }
}

.link-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ADADAD;
}

@media screen and (max-width: 1440px) and (min-width: 1366px) {
  .link-title {
    font-size: 18px;
  }
}

.nav-social {
  margin-top: 32px;
}

.nav-social .link-social {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #E6E6E6;
  display: inline-block;
  margin-top: 32px;
  position: relative;
}

.nav-social .link-social::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45%;
  background: -webkit-gradient(linear, right top, left top, from(#755CEF), to(rgba(117, 92, 239, 0)));
  background: linear-gradient(270deg, #755CEF 0%, rgba(117, 92, 239, 0) 100%);
  opacity: 0.8;
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  width: 0;
}

.nav-social .link-social:hover::after {
  width: 100%;
}

@media screen and (max-width: 1440px) and (min-width: 1366px) {
  .nav-social {
    margin-top: 0px;
  }
  .nav-social .link-social {
    font-size: 18px;
  }
}

.nav-link {
  margin-top: 32px;
}

.nav-link .link-menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  color: #E6E6E6;
  display: inline-block;
  margin-top: 32px;
  position: relative;
}

.nav-link .link-menu::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 45%;
  background: #755CEF;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-link .link-menu:hover::after {
  width: 100%;
}

@media screen and (max-width: 1440px) and (min-width: 1366px) {
  .nav-link {
    margin-top: 0px;
  }
  .nav-link .link-menu {
    font-size: 28px;
  }
}

.menu-contact {
  margin-top: 64px;
}

.menu-contact p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #E6E6E6;
}

.close-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #16161A;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.close-menu img {
  width: 32px;
  height: 32px;
}

.close-menu:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
/*# sourceMappingURL=styles.css.map */