//colors 

$primary-dark:#543BCF;
$primary-normal:#6246EA;
$primary-light:#755CEF;

$black-normal:#0A0D16;
$black-light:#16161A;
$black-normal:#090913;

$gray-1:#E6E6E6;
$gray-2:#C9C9C9;
$gray-3:#ADADAD;
$gray-4:#919191;
$gray-5:#757575;
