.footer {
  background: $black-light;



  .container-footer {
    max-width: $container-xl;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  img {
    width: 78px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #E6E6E6;

  }
}