// Layout of project

// Container-devices
// $container-xl: 1440px;
$container-xl: 1440px;
$container-l: 1366px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device ==xl {

    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @else if $device ==l {

    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  }

  @else if $device ==m {

    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  }

  @else if $device ==s {

    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  @else if $device ==xs {

    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    flex-direction: column;
    padding: 32px;
  }

}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

// Width's
.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

//header

.header {
  background: #f5ecfd;
  padding: 32px;

  .container {
    justify-content: space-between;
    flex-direction: row;
  }

  .logo-small {
    width: 45px;
    height: 35px;
  }

  .icon-hamburger {
    width: 94px;
    height: 70px;
    cursor: pointer;
  }

  @include responsive(m) {
    padding: 32px 64px;
  }
}

.main {
  background: #f5ecfd;
  padding: 128px 32px 400px 32px;

  .container {
    display: flex;
    max-width: $container-xl;
    margin: 0 auto;

    justify-content: space-between;
    align-items: flex-start;


  }

  .area {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    display: none;
  }

  span {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    font-family: "Roboto";
    color: #5c5c5c;
  }

  h1 {
    color: #1b1b1b;
  }

  svg {
    max-width: 525px;
  }




  @include responsive(m) {
    padding: 64px 64px 200px 64px;

    h1 {
      font-size: 96px;
    }

    .container {
      align-items: center;

      >svg {
        width: 400px;
      }
    }
  }

  @include responsive(s) {
    padding: 128px 32px 200px 32px;


    .area {
      display: block;
    }

    .container>svg {

      display: none;
    }
  }

}

.social-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 64px;

  .social-icon {
    width: 32px;
    height: 32px;

    path {
      transition: all 0.5s ease;
    }

    &:hover {
      path {
        stroke: #755cef;
      }
    }
  }
}

.projects {
  max-width: $container-xl;
  margin: 200px auto 0;

  p {
    max-width: 539px;

    font-size: 20px;
    line-height: 27px;
  }

  .more-projects {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    position: relative;
    color: $gray-1;
    width: max-content;
    margin-inline: auto;
    cursor: pointer;

    &::after {
      transition: all 0.5s ease;
      transform: scale(0);
      width: 100%;
      bottom: -16px;
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      background: #9638ea;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }


  @include responsive(m) {
    padding: 64px 64px;



    .container {
      align-items: center;

      >svg {
        width: 400px;
      }
    }
  }

  @include responsive(s) {
    padding: 128px 32px 200px 32px;

    .area {
      display: block;
    }

    .container>svg {

      display: none;
    }
  }

}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.reverse {
    flex-direction: row-reverse;

    .content {
      text-align: end;
    }
  }

  .content {
    position: relative;

    h3 {
      font-style: normal;
      font-weight: 500;
      line-height: 49px;
      text-transform: uppercase;

      color: #e6e6e6;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      color: $gray-2;
    }

    span {
      display: block;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;

      color: #919191;
    }
  }

  &-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #9638ea;
    line-height: 27px;
    font-family: "Inter", sans-serif;
    position: relative;
    display: inline-block;

    &.in-progress {
      opacity: 0.5;
      pointer-events: none;
      color: $gray-3;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      transform: scale(0);
      transition: all 0.5s ease;
      transform-origin: left center;
      background: #9638ea;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }

  &-image {
    max-width: 580px;

    @include responsive(m) {


      max-width: 480px;

    }

    @include responsive(s) {

      // max-width: 450px;
    }
  }

  @include responsive(s) {
    flex-direction: column;
    align-items: flex-start;

    justify-content: flex-start;

    &-image{

    }

    &.reverse {
      align-items: flex-start;

      justify-content: flex-start;
      flex-direction: column;

      .content {
        text-align: start;
      }
    }

    .content{
      
    }
  }

}

.about-me {
  background: $black-light;
  margin-top: 200px;

  .container {
    max-width: $container-xl;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  p {
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $gray-3;
  }

  button {
    margin-top: 32px;
    background: transparent;
    border: 2px solid #fff;
    display: flex;
    color: #f5ecfd;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 4px;
    transition: all 0.5s ease;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: rgba(245, 236, 253, 0.6);
    }
  }

  @include responsive(m) {
    padding: 0 64px;

    p {
      font-size: 16px;
    }
  }
}

.skills {
  max-width: $container-xl;
  margin: 0 auto;


  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inputs {
      display: flex;
      gap: 150px;
    }

    input {
      display: none;

      &:checked+label {
        &::after {
          width: 100%;
        }
      }
    }

    label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      cursor: pointer;
      line-height: 38px;

      color: #ffffff;
      position: relative;

      &::after {
        transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40%;
        width: 0;
        opacity: 0.5;

        background: #9333ea;
      }
    }
  }

  .container-language {
    display: flex;
    align-items: center;flex-direction: column;
    justify-content: space-between;
    @include responsive(xl) {
      flex-direction: row;
      
    }
   
  }

  .language {
    h4 {
      font-weight: 500;
      font-size: 36px;
      line-height: 150%;
      text-transform: uppercase;

      color: #e6e6e6;
    }

    p {
      max-width: 527px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #c9c9c9;
    }
  }

  .languages {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
margin-top: 32px;
    &.active {
      display: grid;
    }

    svg,
    img {
      width: 128px;
      transition: all 0.5s ease;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }

    @include responsive(xl) {
    }
  }


}

.contact {
  display: flex;
  max-width: $container-xl;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  p {
    max-width: 490px;
    font-size: 18px;
    text-align: center;
  }

  h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
  }
}