@mixin container($max-width: 1216px, $padding: 3.2rem) {
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $padding;
}

@mixin responsive($breakpoint) {
  @if (map-has-key($breakpoints, $breakpoint)) {
    @media screen and (max-width: map-get($breakpoints,$breakpoint)) {
      @content;
    }
  }
}
@mixin flex($direction: row, $align: stretch, $justify: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.container {
  @include container;

  @include responsive("sm") {
    @include container(100%, 32px);
  }
  @include responsive("xs") {
    @include container(100%, 16px);
  }
}

.section {
  padding-bottom: 10.4rem;
  padding-top: 120px;
  border-top: 1px solid #cbd5e1;
}

.hidden {
  visibility: hidden;
}
