*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: map-get($colors, "background", "light");
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

svg,
img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1361B6;
}

::-webkit-scrollbar-thumb:hover {
  background: #0F172A;
}
